@import url(//fonts.googleapis.com/css?family=Montserrat:300,500,600);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #b2bec3;
}
.navbar-nav {
    position: relative;
    left: 80%;
}
.nav-item{
    font-size: 18px;
}
header {
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('https://images.pexels.com/photos/1251026/pexels-photo-1251026.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    overflow-x: hidden;
}

.boxy {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #ffffff;
    padding: 0.35em 2.2em;
    margin: 0.4em;
    border-style: double;
    border-radius: 200px;
    border-width: 1px;
    text-decoration: none;
    line-height: 95vh;
    position: relative;
    left: 43.5%; 
}
.boxy:hover {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    background-color: #dcdde1;
    border-color: #dcdde1;
    color: #2f3640;
    transition: all 0.2s ease; }
.logo{
    width: 8%;
}
#title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 30%;
    color: white;
}
.info {
    font-family: "Montserrat", sans-serif;
    font-size: 18.5px;
    text-align: center;
    position: relative;
    top: 28%;
    color: #dcdde1;
}
#about {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #3e4555;
    font-weight: 500;
}
#moveDown {
    position: relative;
    top: 4vh;
}
#adjustRow {
    position: relative;
    left: 12.5%;
    justify-content: center;
}
.reasonsLogo {
    width: 20%;
}
.reason1 {
    align-items: center;
    position: relative;
    right: 7%;
    top: 10%;
    font-family: "Montserrat", sans-serif;
    color: #3e4555;
}
.reason2 {
    align-items: center;
    position: relative;
    right: 16%;
    top: 10%;
    font-family: "Montserrat", sans-serif;
    color: #3e4555;
}
#ourTeam {
    position: relative;
    top: 7vh;
}

.team4 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
  }
  
  .team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
    color: #3e4555;
  }
.team4 h3  {
    font-weight: 500;
}
  
  .team4 .font-weight-medium {
    font-weight: 500;
  }
  
  .team4 h5 {
    line-height: 22px;
    font-size: 18px;
    position: relative;
    right: 23%;
  }
  
  .team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
    position: relative;
    right: 23%;
  }

#teamRow {
    align-items: center;
    justify-content: center;
    position: relative;
    left: 7%;
}  
  .team4 ul li a {
    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  
  .team4 ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
    color: #316ce8;
  }
  footer {
      background-color: #b2bec3;
  }